
.container {
    display: grid;
    width: 950px;  /* Или любая другая фиксированная величина */
    height: 800px;
    border: 1px solid rgb(199, 198, 198);
}

.square {
    border: 1px solid #f5f1f1;
}

